<article>
    <div class="card">
        <div class="card-body">
            
            <div class="card-title">
               <h3> {{post.post_title}}</h3>
            </div>
            <div class="container">
                <div class="row">
                <div class="card-text col-9">
                    {{post.post_content}}
                    </div>
                   <div class="card-text col-3">
                       {{post.user.username}} on {{post.created_at}}
                   </div>

                </div>
                <div class="card-title">
                <h4>comments</h4>
                 </div>
                 {{#each post.comments as |comment|}}
                <div class="card-text">
                    <p>{{comment_content}}</p>
                </div>
                {{/each}}
                <form class = "mt-3 comments">
                    <label for="comment_box" class="form-label"> Post a new comment</label>
                    <textarea class = "form-control" id="comment_box" rows="3"></textarea>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>

            </div>
        </div>
    </div>

    </div>
   
    <script src="/javascript/comment.js"></script>
   
</article>